/* Mi primer comentario en CSS */
/* root = archivo main. Para colocar variables.*/
:root {
  --mainColor: purple;
}

*{
  margin: 0;
  padding: 0;
}


h3 {
  color: var(--mainColor);
}
/* ID */
#container {
  background-color: red;
  color: rgb(163, 163, 163);
}
/* Clase */
.subtitulo {
  color: aquamarine;
}
/* Selector especifico */
ul li h2 {
  color: cadetblue;
}

#prueba{
  /* ancho */
    width: 200px;
  /* altura */
   height: 200px;
  /* color de fondo */
  background-color: rgb(4, 87, 84);
  /* grosor de letra */
  font-weight: 900;
  /* tamaño de letra */
  font-size: 34px;
  /* Tipografia */
  font-family: 'Courier New', Courier, monospace;
  /* color de la letra */
  color: rgb(160, 104, 0);
  /* distribucion del texto */
  text-align: center;
  /* tipo de decoracion */
  text-decoration: underline;
  /* color de la decoracion */
  text-decoration-color: darkblue;
  /* cambiar la letra si es mayuscula o minuscula */
  text-transform: uppercase;
  /* espaciado de letra */
  letter-spacing: 10px;
  /* espaciado de palabra */
  word-spacing: 20px;
  /* altura de linea */
  line-height: 100px;
  /* Trabajar con bordes (atajo para estilo, color, grueso)*/
  border: groove rgb(151, 124, 27) 30px;
  padding: 200px;
  /* min-width: 100px;
  min-height: 100px; */
  /*
    Existen diversas formas de colocar colores
    en CSS, una de ellas es mencionar el color
    en idioma ingles, pero también puedes usar
    codigo Hexadecimal, RGB, RGB, HSL
  */
  /*
  color: #5AAADB;
  color: #faebd7d7;
  color: rgb(0,0,0);
  color: rgba(255,50,20,0.50);
  color: hsl(0, 100%, 50%);
  */
  /* opacity: 10%; */
  /*
  REM hace referencia a un tamaño por default que
  el navegador tiene, esta medida es relativa
  pues el tamaño por default puede cambiar segun
  el ancho del navegador. Decir 3rem es decir
  3 veces ese tamaño por default
  font-size: 3rem;
  EM hace referencia al tamaño por default del
  elemento HTML en si
  font-size: 3em;
  */
  /*
    vh = viewport height (altura del navegador)
    vw = vierport width (anchura del navegador)
  */
  height: 100vh;
  width: 100vw;
  display: flex;
  transition: background-color 1s, scale 2s;
  transition-timing-function: ease-in;
  /* transition-delay: 0.1s; */
}




#prueba p{
  background-color: rgb(150, 0, 0);
  /* transition: 500ms; */
}


/* 
  Pseudo Clases
  Manejan los estados de un elemento
*/

#prueba:hover{
  opacity: 80%;
  background-color: yellow;
  scale: 0.5;
}

a:visited{
  color: red;
}

a:link{
  color: aqua;
}

#prueba p:first-child{
  color: rgb(80, 218, 0);
  background-color: aqua;
}

.input:focus{
  outline: 1px solid blue;
}

p::first-letter{
  color: chocolate;
}

p::first-line{
  color: crimson;
}

p::before{
  content: "EPALE ";
}

p::after{
  content: "ADIOS";
}